@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    background-image:url("../img/lol.jpg");
    background-position: top;
    background-repeat: no-repeat;
    color: white;
    border-radius: 20px;
    width: 80%;
    padding: 8%;
    margin: 1% 2% 1% 2%;
}




.container1 {
  /*  flex-direction: row;
    width: 40%;
    margin: 0% 4% 1% 0%;
*/
    flex-direction: column;
    width: 40%;
    display: flex;
    margin: -16% 14% 1% 0%;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: flex-start;


}
.container2 {
    flex-direction: row;
    width: 40%;
    margin: 0% 7% 2% 0%;;
}





.contactush1 {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
}
contactuspar {
    font-size: 0.5em;
}

.container2 {
    flex-direction: row;
    width: 40%;
    margin: 0% 7% 2% 0%;;
}

.formulaire {
    display: flex;
    flex-direction: column;
    width: 86%;
    justify-content: space-between;
}


.contactuslabel {
    flex-direction: column;
    font-size: 0.7em;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2%;
}

.contactusinput{
    border-radius: 10px;
    width: 100%;
    background-color: #D9D9D9;
  height: 30px;
    margin-top: 2%;
}

.contactusselect{
    border-radius: 10px;
    background-color: #D9D9D9;
    height: 30px;
    width: 70%;
}

.contactustxtarea {
    background-color: #D9D9D9;
    border-radius: 10px;
    height: 100px;
    margin-top: 2%;
}

.contactusbutton{
    margin-top: 10%;
    width: 34%;
    border-radius: 10px;
    margin-left: 65%;
   background-color: #14939c;
    height: 25px;
}