@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* CONTAINER GÉNÉRAL DU FOOTER */
footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 50px;
    grid-template-areas: 
    "donFooter donFooter donFooter donFooter"
    "menuFooter aboutFooter coordonneeFooter contactFooter"
    "copyright copyright copyright copyright";
    grid-area: footer;
    background-color: #14939c;
    color: white;
    font-family: 'Inter', sans-serif;
}

#donFooter {
    grid-area: donFooter;
    background-image: url(../img/photoDon.png);
    background-size: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr 50px;
    grid-template-areas: 
    "donFooterh1"
    "donFooterp"
    "donFooterButton";
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative; /* Ajoute une position relative pour le conteneur */
}

#donFooter::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur d'arrière-plan pour assombrir */
}

#donFooter h1 {
    justify-self: center;
    grid-area: donFooterh1;
    position: relative; /* Ajoute une position relative pour conserver l'empilement correct */
    z-index: 1; /* Élévation pour placer le texte au-dessus du pseudo-élément */
}

#donFooter p {
    text-align: center;
    justify-self: center;
    grid-area: donFooterp;
    max-width: 75%;
    position: relative; /* Ajoute une position relative pour conserver l'empilement correct */
    z-index: 1; /* Élévation pour placer le texte au-dessus du pseudo-élément */
}

#donFooter button {
    justify-self: center;
    grid-area: donFooterButton;
    background-color: #14939c;
    border: 1px solid black;
    width: 150px;
    border-radius: 100px;
    margin-bottom: 20px;
    position: relative; /* Ajoute une position relative pour conserver l'empilement correct */
    z-index: 1; /* Élévation pour placer le bouton au-dessus du pseudo-élément */
}

#donFooter a {
    font-weight: 400;
    font-size: large;
    color: black;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

#donFooter button:hover {
    background-color: #095C76;
}


/* HR BLEU EN DESSOUS DES TITRES DU FOOTER */ 
#hrBleu {
    background-color: #0C9AEA;
    height: 3px;
    margin-right: 60%;
    border: none;
    overflow: visible;
    text-align: center;
}

/* MENU DU FOOTER */
#menuFooter {
    display: grid;
    justify-items: start;
    grid-area: menuFooter;
    margin-top: 30px;
    justify-self: left;
    margin-left: 50px;
}

/* LES LIENS DU MENU DU FOOTER */
#menuFooter a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Á PROPOS DU FOOTER */
#aboutFooter {
    justify-self: center;
    grid-area: aboutFooter;
    width: 80%;
}

/* LOGO */

#aboutFooter img {
    float: left;
    margin: 10px 15px 0 0;
}

/* COORDONEE DU FOOTER */ 
#coordoneeFooter {
    grid-area: coordonneeFooter;
    justify-self: center;
}

/* RESEAUX SOCIAUX DU FOOTER */
#coordoneeFooter img {
    border-radius: 20px;
}

/* FORMULAIRE DE CONTACT DU FOOTER */
#formFooter {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "nomFooter"
    "emailFooter"
    "messageFooter"
    "submitFooter";
    grid-auto-rows: auto;
    margin-right: 30px;
}


input[type="text"], textarea, select {
    max-width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    resize: none;
}

#categorieFooter {
    width: 100%;
    margin-top: 20px; 
}

.textarea-container {
    margin-top: 20px; 
}

#submitFooter {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 30px;
}

#submitFooter:hover {
    background-color: #2980b9;
}

/* Style pour les champs obligatoires */
input[placeholder]:required::before {
    content: "*";
    color: red;
    position: absolute;
    left: -10px;
}


/* CONTACT FOOTER */
#contactFooter {
    justify-self: center;
} 

/* CONTACT INPUT NOM, PRENOM FOOTER */
#nomFooter {
    width: 100%;
    grid-area: nomFooter;
}

/* CONTACT INPUT EMAIL FOOTER */
#emailFooter {
    width: 100%;
    grid-area: emailFooter;
}

/* CONTACT INPUT MESSAGE FOOTER */
#messageFooter {
    width: 100%;
    height: 50px;
    grid-area: messageFooter;
}

/* CONTACT INPUT SUBMIT FOOTER */
#submitFooter {
    width: 100%;
    border-radius: 10px;
    background-color: #0C9AEA;
    border: 1px solid #0C9AEA;
    color: white;
    grid-area: submitFooter;
}

/* INPUT DU FORMULAIRE DE CONTACT DU FOOTER */
form input {
    margin-top: 15px;
}

/* COPYRIGHT FOOTER */
#copyright {
    grid-area: copyright;
    text-align: center;
    line-height: 20px;
}

/* HR BLANC AU DESSUS DU COPYRIGHT */ 
#copyright hr {
    height: 3px;
    width: 80%;
    border: none;
    overflow: visible;
    text-align: center;
    background-color: white;
}

/* RESPONSIVE FOOTER */
@media screen and (max-width: 1024px) {
    footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto 50px;
    grid-template-areas: 
    "donFooter donFooter donFooter"
    "menuFooter aboutFooter coordonneeFooter"
    "copyright copyright copyright";
    }

    #aboutFooter {
        justify-self: left;
    }

    #contactFooter {
        display: none;
    }

}

@media screen and (max-width: 800px) {
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto 50px;
        grid-template-areas: 
        "donFooter"
        "menuFooter"
        "coordonneeFooter"
        "copyright";
        }

    #menuFooter {
        justify-self: center;
        justify-items: center;
        margin: 10px 0 0 0;
    }

    #menuFooter a {
        margin-top: 15px;
    }

    #aboutFooter{
        display: none;
    }

    #coordoneeFooter {
        margin-top: 20px;
    }

    #hrBleu {
        width: 60%;
        margin-left: -20px;
    }

    #copyright {
        max-width: 70%;
        margin: auto;
    }

    #copyright p {
        
    }
}