@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* CONTAINER GÉNÉRAL DU FOOTER */
footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 50px;
    grid-template-areas: 
    "menuFooter aboutFooter coordonneeFooter contactFooter"
    "copyright copyright copyright copyright";
    background-color: #14939c;
    color: white;
    font-family: 'Inter', sans-serif;
}

/* HR BLEU EN DESSOUS DES TITRES DU FOOTER */ 
#hrBleu {
    background-color: #0C9AEA;
    height: 3px;
    margin-right: 60%;
    border: none;
    overflow: visible;
    text-align: center;
}

/* MENU DU FOOTER */
#menuFooter {
    display: grid;
    justify-items: start;
    grid-area: menuFooter;
    margin-top: 30px;
    justify-self: left;
    margin-left: 50px;
}

/* LES LIENS DU MENU DU FOOTER */
#menuFooter a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Á PROPOS DU FOOTER */
#aboutFooter {
    justify-self: center;
    grid-area: aboutFooter;
    width: 80%;
}

#aboutFooter img {
    float: left;
    margin: 10px 15px 0 0;
}

/* COORDONEE DU FOOTER */ 
#coordoneeFooter {
    grid-area: coordonneeFooter;
    justify-self: center;
}

/* RESEAUX SOCIAUX DU FOOTER */
#coordoneeFooter img {
    border-radius: 20px;
}

/* FORMULAIRE DE CONTACT DU FOOTER */
#formFooter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "nomFooter nomFooter"
    "emailFooter emailFooter"
    "messageFooter messageFooter"
    ". submitFooter";
    grid-auto-rows: auto;
    margin-right: 30px;
}

/* CONTACT FOOTER */
#contactFooter {
    justify-self: center;
} 

/* CONTACT INPUT NOM, PRENOM FOOTER */
#nomFooter {
    width: 100%;
    grid-area: nomFooter;
}

/* CONTACT INPUT EMAIL FOOTER */
#emailFooter {
    width: 100%;
    grid-area: emailFooter;
}

/* CONTACT INPUT MESSAGE FOOTER */
#messageFooter {
    width: 100%;
    height: 50px;
    grid-area: messageFooter;
}

/* CONTACT INPUT SUBMIT FOOTER */
#submitFooter {
    width: 100%;
    border-radius: 10px;
    background-color: #0C9AEA;
    border: 1px solid #0C9AEA;
    color: white;
    grid-area: submitFooter;
}

/* INPUT DU FORMULAIRE DE CONTACT DU FOOTER */
form input {
    margin-top: 15px;
}

/* COPYRIGHT FOOTER */
#copyright {
    grid-area: copyright;
    text-align: center;
    line-height: 20px;
}

/* HR BLANC AU DESSUS DU COPYRIGHT */ 
#copyright hr {
    height: 3px;
    width: 80%;
    border: none;
    overflow: visible;
    text-align: center;
    background-color: white;
}

/* RESPONSIVE FOOTER */
@media screen and (max-width: 1200px) {
    footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 50px;
    grid-template-areas: 
    "menuFooter aboutFooter coordonneeFooter"
    "copyright copyright copyright";
    }

    #contactFooter {
        display: none;
    }

}

@media screen and (max-width: 750px) {
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 50px;
        grid-template-areas: 
        "menuFooter"
        "coordonneeFooter"
        "copyright";
        }

    #menuFooter {
        justify-self: center;
        justify-items: center;
        margin: 10px 0 0 0;
    }

    #menuFooter a {
        margin-top: 15px;
    }

    #aboutFooter{
        display: none;
    }

    #coordoneeFooter {
        margin-top: 20px;
    }

    #hrBleu {
        width: 60%;
        margin-left: -20px;
    }

    #copyright {
        max-width: 70%;
        margin: auto;
    }

    #copyright p {
        
    }
}