.navigation{
    display: grid;
    grid-template-columns: 245px repeat(7, 1fr);
    grid-template-areas: 
    "img asbl action formation agenda contact don langue"
    ;
    grid-template-rows: 100px;
    background-color:   #14939c;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: large;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.logo{
    z-index: 1;
    margin-top: 90px;
    margin-left: 25px;
}

.logo img {
    grid-area: img;
    width: 150px;
}

.navi{
    color: white;
    margin-right: 20px;
    margin: 0 10px 0 20px;
    list-style: none;
    text-decoration: none;
}

.navi:nth-child(1){
    margin-left: 150px;
}

.navibutton{
    border: 2px solid black;
    box-shadow: 2px;
    border-radius: 15px 15px;
    padding: 8px 12px;
    background-color:  #095C76;
    box-shadow: 10px 5px 5px #095C76;
}

.navilien{
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
}

.navilangue{
    border-radius: 15px 15px;
    margin-right: 8px;
}

#asbl {
    justify-self: center;
    grid-area: asbl;
}

#action {
    justify-self: center;
    grid-area: action;
}

#formation {
    justify-self: center;
    grid-area: formation;
}

#agenda {
    justify-self: center;
    grid-area: agenda;
}

#contact {
    justify-self: center;
    grid-area: contact;
}

#don {
    justify-self: center;
    grid-area: don;
}

#langue {
    justify-self: center;
    grid-area: langue;
}

/* RESPONSIVE POUR LE MOBILE
@media screen and (max-width: 600px) {
   
}
*/

/* RESPONSIVE POUR LA TABLET */
@media screen and (min-width: 600px) and (max-width: 1023px) {
    .navigation{
        grid-template-columns: 150px repeat(7, 1fr);
    }
}

/* RESPONSIVE POUR LE DESKTOP */
@media screen and (min-width: 1023px) {
    .navigation{
        grid-template-columns: 380px repeat(7, 1fr);
    }

    #langue {
        justify-self: center;
    }
}
