header {
  display: flex;
  grid-area: menu;
  align-items: center;
  background-color: #14939c;
  height: 100px;
}
  
.logo {
    z-index: 1;
}

  .logo img {
    width: 150px; 
    margin-top: 100px; 
    margin-left: 25px;
 }
  
  .menu-icon {
    display: none;
    cursor: pointer;
  }
  
  .menu {
    flex-grow: 1;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin-right: 25px;
    padding: 0;
  }
  
  .menu li {
    margin-left: 20px;
  }

  /* FAIRE UN DON  */
  .menu li:last-child {
    background-color: #94B9C580;
    /* padding: 10px 20px ; */
    width: 160px;
    height: 35px;
    line-height: 35px;
    font-weight: 600;
    text-align: center;
    border-radius: 50px;
    border: black solid 2px;
  }
  /*               */

  .menu li a {
    text-decoration: none;
    font-size: larger;
    line-height: 35px;
    height: 35px;
    color: #fff;
  }

  .language-selector {
    background-color: #fff;
    margin-right: 50px;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    width: 70px;
    justify-self: center;
    align-self: center;
}

.selected-language {
    padding: 0 8px;
    border: 1px solid #ccc;
    border-radius: 50px;
    height: 35px;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.selected-language i {
    margin-left: 5px;
}

.language-options {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    padding: 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
}

.language-options li {
    padding: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.language-options li:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
}

.flag-icon {
    margin-right: 5px;
    width: 20px;
}
  
  /* Styles du menu pour les versions tablette et mobile */
  @media screen and (max-width: 768px) {
    .menu .active {
      
    }
  
    .menu-icon {
      display: block;
      position: relative;
      z-index: 1;
    }
  
    .menu-icon .bar {
      width: 25px;
      height: 3px;
      background-color: #333;
      margin-bottom: 5px;
      transition: transform 0.3s ease-in-out;
    }
  
    .menu-icon.active .bar:first-child {
      transform: translateY(8px) rotate(45deg);
    }
  
    .menu-icon.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .menu-icon.active .bar:last-child {
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .menu.active ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #f2f2f2;
      padding: 20px;
      z-index: 2;
    }
  
    .menu.active ul li {
      margin: 10px 0;
    }
  }
  