@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

#gridValeur {
    display: grid;
    grid-area: valeur;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto;
}

#gridValeur h1 {
    text-align: center;
}

#valeur {
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 70px;
    margin-bottom: 20px;
}

.valeur-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95), color 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    color: #333; /* Couleur du texte par défaut */
}

.valeur-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #94b9c5, #14939c);
    opacity: 0.7;
    z-index: -1;
    transition: opacity 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

/* Ajoutez cette règle CSS pour changer la couleur du texte au survol */
.valeur-item:hover {
    transform: translateY(-10px);
    color: #fff; /* Changez la couleur du texte en blanc */
}

/* Ajoutez cette règle CSS pour rendre la fin de l'animation plus fluide lorsque vous quittez le survol */
.valeur-item:not(:hover) {
    transition: transform 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95), color 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95); /* Augmentez la durée de la transition de couleur */
}

.valeur-item:hover::before {
    opacity: 1;
}

.valeur-item h4 {
    font-size: 20px;
    margin: 10px 0;
}

.valeur-item p {
    font-size: 16px;
    margin: 10px 0;
}
  

@media screen and (min-width: 600px) and (max-width: 1024px) {
    #valeur {
        grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 600px) {
    #valeur {
        grid-template-columns: 1fr;
    }
  }